body{
    background: rgb(48, 41, 41);
}
h1{
    font-size: 60px;
    color: darkgreen;
    text-align: center;
    
}
p{
    font-size: 30px;
    color: darkolivegreen;
    text-align: center;   
}
img{
    width: 300px;
    height: 300px;
    margin: 70px;
    margin-right: 250px;
}